*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html
{
  height: 100%;
}
body {
  font-family: cursive;
  font-size: 2rem;
  min-height:100%;
}
/* agregar un grid container*/
.body-grid >*
{
box-shadow: -1px 1px 7px 0px rgb(red, rgb(128, 0, 6), rgb(0, 255, 21));
border-radius: 2px;
padding: 0;
text-align: center;

}
/*se definen las areas del template*/

/* En este bloque se crea el comportamineto de la pagina en el body*/
.header
{
  
  grid-area:header;
  overflow: hidden;
  background-color: rgb(38,38,38);
  text-align: left;
  color: aliceblue;
  
}
.SectionHeader
{
  
  background-image: url('Logo.png');
  height: 100px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 250px 100px;
  margin: auto;
  float: left;
}
.navMenu
{
  padding: 20px;
  float: right;    
  /*display:none;*/

}
.navMenuMobile
{
  display:none;

}

header nav a
{
  display: inline-block;
  color:rgb(220, 208, 135);
  text-decoration: none;
  padding: 10px 20px;
  vertical-align:bottom;  
  font-size: medium;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition:all 500ms ease;
}

header nav a:hover
{
  background:rgb(78, 80, 78) ;
  border-color: rgb(220, 208, 135);
  border-radius:50px;

}

.banner
{
  grid-area:banner;
  background-image: url('banner.jpg');
  background-size:   cover ;
  background-repeat: no-repeat;
  background-color: rgb(116, 116, 22);
  overflow: hidden;
  
  
}

.bannerTexto
{
  text-align: left;
  font-size: medium ;
  font-weight:  normal;
  top: 2%;
  left: 5%;
  color: rgb(107, 96, 20);
  
}

.bannerTexto1
{
  text-align: left;
  font-size:small;
  font-weight: 400;
  margin-bottom:10%;
  left: 10%;
  color: rgb(54, 54, 54);
}
.sidebar
{
  grid-area:sidebar;
  background-color: transparent;
  background-image: linear-gradient(transparent,rgb(38,38,38));
  display: grid;
  grid-template-columns:  repeat(auto-fill,1fr);
  grid-gap: 20px;
 

}
.tituloVideos
{
  grid-area: tituloVideos;
  text-align: center;
  font-size: medium ;
  font-weight:  normal;
  color: rgb(107, 96, 20);
  overflow: hidden;
}

.videoYT1
{
  
  margin-top: 10%;
  margin-bottom: 10%;

}
.main
{
  grid-area: main;
  background-color: transparent;
  display: grid;
  grid-template-columns:  repeat(auto-fill,1fr);
  grid-gap: 30px;
 

}

.article
{
   
  background-color: rgb(38,38,38);
  border-color: rgb(38,38,38);
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: small;
  color:rgb(220, 208, 135);
 
}

#mainImagen3
{
    background-image: url('casa dorada.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    background-size:  contain;
    margin-top: 5%;

}


#mainImagen1
{
    background-image: url('escudo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    background-size:  contain;
    margin-top: 5%;

}

.article:hover
{
  
  background-color:rgb(167, 156, 89);
  border-color: rgba(38, 38, 38, 0.705);
  margin-top: 2%;
  margin-bottom: 2%;
  color:rgb(0, 0, 0);  
 
  padding: 20px;
  font-size: small;
  text-align: center;
  border-style:  groove;
}
#mainImagen2
{
    background-image: url('mundo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    background-size:  contain;
    margin-top: 5%;

}

.footer
{  
  grid-area: footer;
  background-color:  rgb(38,38,38);
  color:rgb(220, 208, 135);
  font-size: medium;
}


.body-grid
{
 display: grid;/*indica que se trabaja por grillas*/
 /*se crea un vacio entre areas*/
 /*se crean las areas*/
 grid-template: 
   "header" 100px
   "banner" auto
   "main" auto
   "tituloVideos" 50px
   "sidebar" auto
   "footer" 50px
   ;
}


/* pantallas para tabletas pantalla min 600px*/
/*usamos media query*/


  @media (min-width:900px)
  {

    .body-grid
    {
      background-color: white;
      grid-template: 
          "header header header" 100px
          "banner banner banner " auto
          "main main main" auto
          "tituloVideos tituloVideos tituloVideos" auto
          "sidebar sidebar sidebar" auto
          "footer footer footer" 50px/
          auto   auto   auto;
    }
    
      .banner
      {
        grid-area:banner;
        background-image: url('banner.jpg');
        background-repeat: no-repeat;
        height: 500px;
      /* position: relative;*/
        background-size:  contain;
        background-color: rgb(255, 255, 255);
        background-position: right;
    }
          
      .bannerTexto
      {
        text-align: left;
        font-size: xx-large;
        color: rgb(107, 96, 20);
        margin-top: 5%;

        margin-left: 5%;
        
        

      }
      .bannerTexto1
      {
        text-align: left;
        font-size:xx-large;
        font-weight:  normal;
        margin-top: 5%;

      
        margin-left: 5%;
        color: rgb(54, 54, 54);

      }
      .main
      {
        grid-area: main;
        background-color: transparent;
        display: grid;
        grid-template-columns:  repeat(3,1fr);
        grid-gap: 30px;
      }
      
      .sidebar
      {
        grid-area:sidebar;
        background-color: transparent;
        background-image: linear-gradient(transparent,rgb(38,38,38));
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        grid-gap: 20px;
      }.videoYT1
      {
        background-color: transparent;
        border-color: transparent;
        padding: 20px;
        text-align: center;
        border-style:  groove;
      
      
      }
      .tituloVideos
      {
        
        text-align: center;
        font-size: x-large ;
        font-weight:  bold;
        background-color:rgb(38,38,38) ;
       
        color: rgb(107, 96, 20);
      
      }
      
  }/* FIN DEL MEDIA QUERY*/
